@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body, html {
  height: auto;
}

.background {
  background-image: url('bg1.png');
  background-repeat: no-repeat;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 100;
}

.menu-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  display: flex;
  justify-content: center;
  padding: 15px;
}

.menu li {
  list-style: none;
}

.menu .menuItens {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  padding: 2em;
  transition: 0.5s;
}

.menu .menuItens:hover {
  color: #27dac3;
}

.textBox {
  position: relative;
  max-width: 800px;
  padding: 80px 100px 30px;
}

.title {
  color: white;
  font-size: 4em;
  padding: 40px 0px 0;
}

.universe {
  color: #ffe88a;
}

p {
  color: white;
  width: 100%;
  font-size: 1em;
  padding: 40px 0px 10px;
  line-height: 30px;
}

.changeBg {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.planetasPosicao {
  left: 50%;
  bottom: 30px;
}

.planetasPosicao li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  cursor: pointer;
  transition: 0.5s;
}

.planetasPosicao li:hover {
  transform: translateY(-20px);
}

.planetasPosicao .planetas {
  width: 50px;
}

@media (max-width: 768px) {
  header {
    justify-content: center;
  }
}

/*media queries*/
@media (max-width: 715px) {

  header {
    justify-content: flex-end;
  }


  .menu-section .menu {
    display: none;
  }

  /*menu responsivo*/
  .one,
  .two,
  .three {
    background-color: #fff;
    height: 5px;
    width: 100%;
    margin: 6px auto;
    transition-duration: 0.3s;
  }

  .menu-toggle {
    width: 40px;
    height: 30px;
  }

  .one,
  .two
  .three {
    background-color: #fff;
    height: 5px;
    width: 100%;
    margin: 6px auto;
    transition-duration: 0.3s;
  }

  /*fullscreen*/
  .menu-section.on {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #2b1055;
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu-section.on ul {
    display: block;
  }

  .menu-section.on .menu-toggle {
    position: absolute;
    right: 20px;
    top: 21px;
  }

  .menu-section.on .menu-toggle .one {
    transform: rotate(45deg) translate(7px, 8px);
  }

  .menu-section.on .menu-toggle .two {
    opacity: 0;
  }

  .menu-section.on .menu-toggle .three {
    transform: rotate(-45deg) translate(7px, -8.8px);
  } 

  .menu-section.on ul {
    text-align: center;
    display: block;
  }

  .menu-section.on ul {
    transition-duration: 0.5s;
    font-size: 1.5em;
    line-height: 3em;
    display: block;
  }

  .menu-toggle {
    width: 40px;
    height: 30px;
  }

  header {
    padding: 20px 20px;
  }

  .title {
    font-size: 2em;
  }

  p {
    line-height: 25px;
    margin-bottom: 30px;
  }

  .textBox {
    padding: 80px 40px 20px;
  }

  .planetasPosicao {
    bottom: 0;
    justify-content: center;
  }

  .planetasPosicao .planetas {
    width: 40px;
  }

  .changeBg {
    padding-bottom: 30px;
  }

  .menu .menuItens {
  padding: 0;
  }
}